<form method="POST">
    <input placeholder="name" name="username" value="{{username}}">
    <br>
    <input placeholder="age" name="userage" value="{{userage}}">
    <br>
    <button >add user</button>
</form>