<section class="my-5 border border-danger border-3 container ">
    <div class="alert alert-primary">{{msg}}</div>
    <form [formGroup]="user" (ngSubmit)="handleRegister()" class="p-3 m-3">
        <div class="mb-3 row">
            <div class="col-6">
                <input class="form-control" placeholder="name" formControlName="name" >
                <div class="alert alert-danger" *ngIf="isSubmitted || (name?.invalid && (name?.dirty || name?.touched))">
                    <ul>
                        <li *ngIf = "name?.errors?.required">name is required</li>
                        <li *ngIf = "name?.errors?.minlength">name must be more than 3 chars</li>
                        <li *ngIf = "name?.errors?.maxlength">name must be less than 15 chars</li>
                    </ul>
                </div>
            </div>
            <div class="col-6">
                <input class="form-control" placeholder="email" formControlName="email">
                <div class="alert alert-danger" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                    <ul>
                        <li *ngIf = "email?.errors?.required">email is required</li>
                        <li *ngIf = "email?.errors?.email">email must be an Email</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-6">
                <input class="form-control" placeholder="phone" formControlName="phone">
            </div>
            <div class="col-6">
            <input class="form-control" placeholder="password" formControlName="password">
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-6">
                <select class="form-control" placeholder="role" formControlName="role">
                    <option *ngFor="let role of allRoles" [value]="role.id">{{role.title}}</option>
                </select>
            </div>
            <div class="col-6">
                <select class="form-control" placeholder="gender" formControlName="gender">
                    <option *ngFor="let gender of genders" [value]="gender.val">{{gender.gender}}</option>
                </select>
            </div>
        </div>
        <button class="btn btn-primary">add</button>
    </form>
</section>